@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Fira Sans', sans-serif;;
}

p, input, label {
	font-family: 'Varela Round', sans-serif;
}

main {
	padding: 50px 0;
}

span {
	color: red;
}

.text-right {
	text-align: right;
}

.large-button {
	margin: 10px 0 40px 0;
	text-align: center;
}

.large-button p, .large-button button {
	display: inline-block;
	padding: 15px 25px;
	border: 4px solid #1d749a;
	border-radius: 25px;
	background-color: white;
	transition: .2s ease-in-out;
	-webkit-box-shadow: 6px 6px 12px 0px rgba(66, 68, 90, 1);
	-moz-box-shadow: 6px 6px 12px 0px rgba(66, 68, 90, 1);
	box-shadow: 6px 6px 12px 0px rgba(66, 68, 90, 1);
}

.large-button p:hover, .large-button button:hover {
	cursor: pointer;
	transform: scale(1.1);
}

label, input {
	display: block;
	margin-bottom: 10px;
}

input {
	padding: 10px 20px;
}

.wrapper-login {
	display: flex;
	align-items: center;
	flex-direction: column; 
	justify-content: center;
	width: 100%;
	min-height: 100%;
	padding: 20px;
}

.button-login-submit {
	width: 100%;
	margin-top: 20px;
	padding: 10px 20px;
	border: 4px solid #1d749a;
	border-radius: 15px;
	transition: .2s ease-in-out;
}

.report-descript {
	margin-bottom: 20px;
	padding: 15px 20px;
	border: 2px solid #32CD32;
}

.report-header {
	padding: 15px 20px;
	background-color: #32CD32;
}

.report-descript-in-progress {
	margin-bottom: 20px;
	padding: 15px 20px;
	border: 2px solid #E31E33;
}

.report-header-in-progress {
	padding: 15px 20px;
	background-color: #E31E33;
}

.report-descript-completed {
	margin-bottom: 20px;
	padding: 15px 20px;
	border: 2px solid #1d749a;
}

.report-header-completed {
	padding: 15px 20px;
	background-color: #1d749a;
}

.report-header h3 {
	margin: 0;
	font-size: 1.5em;
	color: white;
}

.report p {
	margin: 0;
}

.report .button_1 {
	text-align: right;
}

.report button {
	border: 2px solid #000000;
	border-radius: 20px;
	padding: 10px 15px;
}

.my_header {
	height: 150px;
	padding: 20px 0;
	background-color: #1d749a;
	color: white;
}

.my_header .container, .my_header .row, .my_header .col-md-4 {
	height: 100%;
}

.logo {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.my_header .name_1 {
	display: flex;
	align-items: center;
	justify-content: center;
}


.footer {
	padding-top: 30px;
	background-color: #1d749a;
	color: white;
}

.footer a {
	color: white;
}

.footer a:hover {
	color: #d6b0a9;
}

.footer p {
	margin: 15px 0;
}

.footer .container-fluid {
	background-color: #262c3a;
}